@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

.nav-links {
  font-family: "PT Sans", sans-serif;
  line-height: 0.8;
}

.nav-links:hover {
  border-bottom-width: 2px;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.fc {
  @apply p-4;
  border-top: 5px solid rgb(79 134 198);
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  min-width: 40vw;
}

.fc-header-toolbar {
  display: flex;
  padding: 4px 4px;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number,
.fc-button {
  font-size: 18px;
}

.fc-dayGridMonth-view {
  border: 1px solid rgb(231, 231, 231);
}

.fc-view {
  @apply bg-white;
}

/* eventos adicionados no calendário */
.fc-h-event {
  @apply bg-primary border border-secondary;
}

/* dia de hoje no calendário */
.fc .fc-daygrid-day.fc-day-today {
  @apply bg-primary text-white;
}

.fc .fc-button {
  @apply bg-tertiary;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-primary;
}

.fc .fc-button-primary:disabled {
  @apply bg-primary;
}

.fc-v-event {
  @apply bg-primary border border-secondary;
}
